*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	/*background: red;*/

}
body{
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul,li{
    list-style: none;
}

.zlmb-index{
	width: 100%;
	height:100%;
	background: url(../img/zlmb_bg1.png)no-repeat center;
	background-size: auto 100%;

}
.imgW{
	width: 100%;
}
.clear:after{
	display: block;
	clear: both;
	content: "";

}
/*导航*/
  .mb-nav{
    	width:100%;
    	height: 1.573333rem;
    	background: rgba(0,0,0,0.6);
    	position: fixed;
    	z-index: 9999;
    	top: 0;
    	left: 0;
    	/*z-index:-1 ;*/
    }

.mb-icon1{
    	width:1.133333rem ;
        height: 1.133333rem;
        margin-left: 0.373333rem;
        padding-top: 0.266667rem;
        float: left;


    }
   .mb-sound{
    	position: fixed;
    	width: 0.52rem;

    	right: 0.3rem;
     top: 0.3rem;
     z-index: 200;

    }
    .mb-td{
    	 padding-top: 0.36rem;
        float: left;
    	padding-left: 0.093333rem;
    }
    .mb-title{
        width: 2.28rem;

    }
    .mb-description{
    	width:2.026667rem ;

    }
    .mb-loadBtn{
    	float: right;
    	padding-right:0.4rem ;
        padding-top: 0.44rem;
    }
    .mb-load,.mb-jion{
    	width:2.24rem ;
    }
    .mb-jion{
    	padding-left:0.133333rem ;
    }
    /*底部导航*/
    .mb-foot{
width: 100%;
background: rgba(7,2,18,0.8);
height: 1.6rem;
border-top: 1px solid #303030;
position: fixed;
z-index: 9999;
bottom: 0;
    }
    .mb-foot>a{
    	display: block;
        width: 5.0rem;
        position: absolute;
        top: 0.28rem;
    }
    .zlmb-rqbtn{
        left: 0.253333rem;

    }
 .zlmb-zbbtn{
       right:  0.253333rem;

    }
    /* 首页*/
   .zlmb-cm{
   	float: left;
    width: 0.893333rem;
    margin-left: 0.4rem;
     margin-top:1.906667rem;
   }
   .zlmb-fer{
   	float: right;
    width: 0.893333rem;
    margin-right: 0.4rem;
    margin-top:1.906667rem;
   }
.shaosanlogo{
	width: 1.626667rem;
    margin-left:2rem;
    float: left;
    display: block;

}
.shaosanlogo>img{
    margin-top: 1.893333rem
}

.shaonianjielogo{
	float: right;
	width: 1.626667rem;
    margin-right: 2rem;
    display: block;
}

.shaonianjielogo>img{
    margin-top: 1.893333rem
}
.zlmb-slogn1{
	width: 100%;
	position: absolute;
	 bottom:1.3rem;
	 margin: 0 auto;
}
.zlmbRq-bg1,.zlmbRq-bg2{
	width: 100%;

	/*height: 9.92rem;
    background: url(../img/zlmb_bg21.png)no-repeat;*/
    /*background-size: 100% auto;*/
   position: relative;
}
.zlmbRq-bg1M,.zlmbRq-bg2M{
	width: 100%;
	height: 100%;
	/*background: red;*/
	position: absolute;
	top: 0;
	left: 0;

}
.zlmbRq-bg1>img,.zlmbRq-bg2>img{
	display: block;
}
.zlmbRq-bg2{
    width: 100%;
    /*height:11.89rem;*/
    /*background: url(../img/zlmb_bg22.png)no-repeat;*/
    /*background-size: 100% auto;*/
}
.zlmbRq-bg2{
	/*margin-top: -1px;*/
}
.zlmbslogn2{
	width:6.173333rem ;

    margin:0 auto;
}
.zlmbslogn2>img{
    margin-top: 1.986667rem
}
.zlmb-jion{
	display: block;
    height: 1.053333rem;
    width:4.3rem;
    position: relative;
    margin: 0 auto;
    padding-top: 0.8rem;

}

.zlmb-jion>img{
	position: absolute;
	bottom: 0;

}
.zlmb-gzAndgiftB{

	text-align: center;
}
.zlmb-gzAndgift{
	width: auto;
	text-align: center;
	position: relative;


	/*padding-left: 0.733333rem;*/
	margin:0.6rem auto;
}
.zlmb-gz,.zlmb-mygift{
	width:4.3rem ;
	display: inline-block;


}


/*第二模块*/
.zlmb-title1{
	width:8.4rem;
    margin:0 auto;
    padding-top: 0.986667rem
}

.zlmb-giftDetails{
	width: 9.493333rem;
	margin: 0.44rem auto;
	background: url(../img/zlmb_mygiftdi.png) no-repeat;
	padding-bottom:0.533333rem ;
	background-size: 100% auto;
}
.zlmb-giftBox{
	padding-top:0.4rem ;
	/*box-sizing: content-box;*/
	padding-left:0.773333rem;
	width: auto;
	/*background: red;*/
}
.zlmb-giftBox>div{
	float: left;
	padding: 0.24rem 0.4rem 0.24rem 0.4rem;
	width: 3.17rem;
}


/*第三板块*/
.zlmbRq-bg3{
	background:#1e0633 ;
}
.title2{
	padding-top: 1.0rem;
	width:9.52rem ;
	margin:0 auto ;
    padding-bottom: 0.906667rem;

}
.zlmb-lot{
	width: 100%;
	height:2rem ;
}
.zlmb_paihang{
	width:9.2rem ;
    margin: 0 auto;
    position: relative;

}
.zlmb_paihangM{
	width: 100%;
	/*height: 100%;*/
	/*background: red;*/
	/*position: absolute;*/
	/*top: 0;
	left: 0 ;*/
	padding-bottom: 30px;
	background: #170634;
}
.zlmb-zd{
	width: 8.8rem;
    margin: 0 auto;
    /*background: yellow;*/
    position: relative;
    padding-top: 0.4rem

}
.zlmb-cmzd{
	float: left;
	width: 4.213333rem;

}
.zlmb-ferzd{
	float: right;
    width: 4.213333rem;
}
.zlmb-vs{
	position: absolute;
    width: 1.57rem;
    margin-left:-0.785rem;

	left: 50%;
}
.zlmb-cmjj{
	width: 0.306667rem;
	margin-left: 1.146667rem;
}
.zlmb-ferjj{

	width: 0.306667rem;
	margin-left:6.44rem;
}
.zlmb-ferjj>img{
	display: block;
}
.zlmb-cmjj>img{
	display: block;
}
.zlmb-paihangBox{
    width: 8.08rem;
    margin: -0.04rem auto;
	background:#1d126d;
	border: 0.026667rem solid #261b71;
	padding-bottom: 0.933333rem;

}

.zlmb-paihangBoxC{
	width: 7.2rem;
    margin: 0.466667rem auto;

    /*background: yellow*/

}
.zlmb-infBox{
	float: left;
	width: 3.333333rem;
    padding: 0.133333rem;
    position: relative;
}
.zlmb-infD{
	width: 100%;
	height: 100%;
	/*background: red;*/
	position: absolute;
	top: 0;
	left: 0;
}
.zlmb-head{
	width: 2.0rem;

	margin: 0 auto;
	padding-top: 0.7rem;
}
.zlmb-head>img{
	border-radius: 50%;
}
.zlmb-number{
	position: absolute;
	font-family: simhei;
	color: white;
	font-weight: bold;
	-webkit-text-stroke-width:0.03rem;
	-webkit-text-stroke-color:#611ebb;
	transform-origin: right bottom;
	transform: rotate(-48deg);
	font-size:0.266667rem ;
	padding-top: 0.1rem;
	padding-left: 0.15rem;
}
.zlmb_nicheng{
	display:block;
	width: 1.906667rem;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
    font-size:0.26rem;
    color: white;
    padding-left: 0.4rem;
    /*padding-top: 0.3rem;*/


}
.zlmb_rqnumber{
	padding-left: 0.4rem;
	color: #dabfff;
	padding-top: 0.1rem;
	font-size: 0.26rem

}
.zlmb-heart{
	position: absolute;
	right: 0.5rem;
	bottom: 0.7rem;
	width: 0.32rem;
}
.zlmb-more{
	padding-top:0.466667rem;
	width: 3.266667rem;
	margin: 0 auto;
}
.zl_L_number{
	color: #dabfff;
}
.zl_R_number{
	color: #ffbfbf;
}
.zlmb-paihangBox1{
    width: 8.08rem;
    margin: -0.04rem auto;
	background:#3b0322;
	border: 0.026667rem solid #461b38;
	padding-bottom: 0.933333rem;

}
.zlmb-more{
	position: relative;
	z-index: 999;
}
.zlmb-paihangBoxs{
	width: 7.2rem;
	margin:0.466667rem auto;
}

.zlmb-paihangDetails-fer{
	display: none;
}


/*参加活动详情页*/
.zlmb-jionDetail,.mysupport{
	width: 100%;
	height: 100%;
	background: url(../img/zlmb_bg31.png) no-repeat;
	background-size:100% 100% ;
	padding: 2rem 0 1.6rem;
	overflow-y: auto;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}
.zlmb-xuzhi{
	width:8.5rem ;
    color: white;
    font-family: "SimSun";
	margin: 1rem auto .5rem;
}
.zlmb-xuzhi h3{
    font-size: 0.373333rem;


}
.zlmb-xuzhi p{
    font-size: 0.32rem
}
.mySupportM{
	width:5.866667rem ;
    margin: 0 auto;
    /*background: red;*/
    padding-top:2.48rem ;
}
.zlmb-name{
    display: block;
	width: 4.4rem;
    margin: 0 auto;
    color: white;
    font-size: 0.4rem;
    white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding-bottom:0.4rem ;

}
.zlmb-name span{
	color: #ecc200;
}
.whiceZD{
	width: 100%;

}
.suppportN{
	/*width:3.466667rem ;*/
	/*background: yellow;*/
	text-align: center;
	margin: 0 auto;
    padding-top: 0.346667rem
}
.zlmbHeart{
	width: 0.733333rem;
	display: inline-block;
	vertical-align:middle;
	/*transition: all;s*/
}
.mysupportN{
	display: inline-block;
	color: #dabfff;
    font-size: 0.346667rem
}
.support-lapiao{
	width:3.786667rem;
	margin: 0 auto;
	padding-bottom: 0.466667rem;
	padding-top: 0.573333rem;
}
.mygiftBoxs,.weita{
	width:3.786667rem;
	margin: 0 auto;

}
.weita{

	padding-top: 0.573333rem;
	padding-bottom: 0.466667rem;
}
.weitala{
	width:3.786667rem;
	margin: 0 auto;
}
.whiceZD{
	position: relative;
}
.ZD-head{
	position: absolute;
	width:3.46rem ;
   top: 1.333333rem;
   left: 50%;
   margin-left: -1.73rem;
}
.ZD-head>img{
	border-radius: 50%;
}
.ZDpaiming{
	font-family: simhei;
	color: white;
	font-weight: bold;
	/*-webkit-text-stroke-color: #611ebb;*/
	-webkit-text-stroke-width:0.035rem;

	transform-origin: right bottom;
	transform: rotate(-48deg);
	font-size:0.4rem ;
	position: absolute;
	z-index: 99;
	top: -0.1rem
}
.yellowtiao{
	width: 1.493333rem;
	position: absolute;
	/*transform: rotate(48deg);*/
	top: 0 ;
}
.ZdColor-cm{
	-webkit-text-stroke-color:#611ebb;
}
.ZdColor-fer{
	-webkit-text-stroke-color:#dd1c3f;
}

.zlmb-zhiboM{
	position: relative;
}
.zlmb-zhiboDetails{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	/*background: red;*/
}
.slogn2{
	width: 8.04rem;
	margin: 0 auto;
	padding-top: 1.893333rem;
}
.zlmb-video{
	width:9.56rem ;
   position: relative;

    margin: 0 auto;
     margin-top: 0.4rem;
}
.zlmb-time{
	width: 5.96rem;
	position: relative;
}
.zlmb-time>img{
	display: block;
}

.zlmb-viedoM{
	width:9.41rem;
	height: 5.3rem;
	border: 0.053rem solid #b60e3a;
	margin-top: -0.053rem;

}
.zlmb-time>span{
	position: absolute;
	top: 0;
	line-height:0.853333rem ;
	display: block;
	width: 100%;
	text-align: center;
    color: white;
    font-size: 0.35rem;
    /*font-weight: bold;*/
    font-family: "微软雅黑";
}
.zlmb-zbBox{
	position: relative;
}
.zb-zhezhao{
	position: absolute;
	height:5.3rem;
	background:url(../img/zlmb-placehold.png);
	background-size: 100%;
	left: 50%;
	margin-left: -4.75rem;
	width:9.41rem;
	top: -0.0371rem;
}
.zlmb-playbtn{
	width: 1.04rem;
	margin: 2.173333rem auto;


}
.zlmb-yqbtn{
	width: 3.786667rem;
	margin: 0 auto;
	margin-top: 0.4rem;
	padding-bottom: 0.8rem;

}
.zlmb-gift{
	width: 9.386667rem;
	margin: 0 auto;
	border: 0.053rem solid #b60e3a;
	/*padding:0.453333rem 0.226667rem 0.453333rem 0.226667rem;*/
}
.zlmb-giftM{
	width: 8.893333rem;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;

}
.zlmb-zbgift{
	width: 1.973333rem;
	display: inline-block;
	padding-top: 0.4rem;
    padding-bottom: 0.4rem

}
.zlmb-title3{
	width: 8.786667rem;
    margin: 0 auto;
    padding-bottom: 0.4rem;
}
.zlmb-fxzhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	z-index: 20;
	display: none;

}
.zlmb-fxzhezhao>img{

	width:6.746667rem ;
    padding-top: 0.72rem;
    float: right;
    margin-right: 0.666667rem;

}

.zlmb-zbzhezhao,.zlmb-zbzhezhao1{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	z-index: 99999;
	display: none;
}
.zlmb-zbzhezhao>img,.zlmb-yqzhezhao>img,.zlmb-zbzhezhao1>img{

	width:6.746667rem ;
    padding-top: 0.72rem;
    float: right;
    margin-right: 0.666667rem;


}
.zlmb-yqzhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	z-index: 99999;
	display: none;
}
.mbtc-gz,.mbtc-mygiftM{
	position: absolute;
	width: 9.7rem;
	z-index: 20;
	left: 50%;
	margin-left: -4.85rem;
	padding-top: 40%;
	display: none;

}
.mbtc-gzM,.mbtc-giftM{
	background: #151132;
	box-sizing: border-box;
	border: 0.053rem solid #b60e3a;
	color: white;
	width: 100%;
	float: left;
}
.mbtc-gzClose,.mbtc-giftClose{
	width: 0.7rem;
	float: right;
}
.gift-text{
	display: none
}
.gift-number{
	/*display: none;*/
	text-align: center;
}
.gift-number .gift-ma{
	/*display: inline-block;*/
	float: left;
	height: 0.933333rem;
	line-height:0.933333rem;
	padding-left: 1.2rem;
	font-size: 0.4rem;
}
.giftNumber{
	float: right;
	margin-right: 1.5rem;
	width: 5.253333rem;
	background: white;
	height: 0.933333rem;
	display: inline-block;
	color: black;
	font-size: 0.4rem;
	line-height:0.933333rem ;
	-webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
	user-select: text;
}
.mbtc-gzC,.mbtc-giftC{
	width: 8.506667rem;
	margin: 0 auto;
	padding-top: 0.533333rem;
	padding-bottom: 0.6rem;
	font-size: 0.35rem;
	line-height: 0.48rem;
	text-indent: 0.5rem;
}
.mbtc-gztitle{
	text-indent: 0;
	font-weight: bold;
	font-size: 0.4rem;
	line-height: 0.8rem;
}
.gift-title{
	font-family: "微软雅黑";
	font-size: 0.4rem;
	font-weight: bold;
	padding-top: 0.933333rem;
	padding-bottom: 0.666667rem
}
.gift-der{
	font-size: 0.346667rem;
	padding-top: 0.44rem;
	padding-bottom: 1.573333rem

}
.ZD-di{
	border-radius: 0.053333rem;
}
.gift-none{
	padding-top: 1.386667rem;
	padding-bottom: 0.15rem;
	text-align: center;
	font-size: 0.4rem;
	font-weight: bold;
}
.gift-jion{
	padding-bottom: 1.613333rem;
	text-align: center;
	font-size: 0.4rem;
}
